doctype html
html(lang="en")
  head
    title Swingin' in the Rain 2014
    link(rel="stylesheet", type="text/css", href="/css/sitr.css")
  body
    #hero
      #hero-group
    #instructors
    #logistics
    #footer
