@import "fonts/stylesheet.css"
@import "fa/css/font-awesome.min.css"

body
html
  padding 0px
  margin 0px
  width 100%
  height 100%
  min-width 320px
  min-height 600px

.section
  width 100%
  min-height 100%
  background-size cover
  background-position center
  box-sizing border-box
  padding 5%
  color white
  font-family canterbold

#hero
  background-image url("/img/bergen-1.jpg")
  position relative
  height 600px

  #hero-group
    height 90%
    width 100%
    background-size contain
    background-position center
    background-repeat no-repeat
  #down
    font-size 48px
    text-align center
    color white
    padding-top 2.5%
    height 5%
  #languages
    position absolute
    top 30px
    left 30px

    img
      width 40px
      margin-right 15px
      text-decoration none
      border none

#instructors
  background-image url("/img/bergen-2.jpg")

  #instructors-group
    width 100%
    box-sizing border-box
    height 100%
    margin 0 auto
    text-align center

    .with, .and
      display block
      margin 0 auto

    .with
      width 80px
      margin-bottom 25px

    .and
      margin-top 50px
      margin-bottom 10px
      width 50px

    .instructor
      text-align center
      display inline-block
      vertical-align top
      width 300px
      text-align center
      margin-bottom 30px

      &.left
        text-align left
      &.right
        text-align right

      &.bigger
        width 100%
        .instructor-name
          font-size 65px

    .instructor-img
      width 120px
      border-radius 1000px
      vertical-align middle
      border 6px double white
      margin 0 auto
      display block

    .smaller
      font-size 36px
      color rgba(white,0.8)
      vertical-align middle

    .country
      display block
      font-size 22px
      color rgba(white,0.6)
      vertical-align middle

    .instructor-name
      font-size 55px
      display block
      margin 15px 0px 0px
      text-align center
      text-shadow 0px 1px 2px black

      &.smaller
        font-size 50px

      &.pad-before
        margin-left 40px

      &.pad-after
        margin-right 40px




#logistics
  background-image url("/img/bergen-3.jpg")

  #logistics-group
    font-family boltonlightregular
    font-size 26px
    line-height 44px
    width 50%
    max-width 600px
    margin 0 auto
    text-shadow 0px 1px 2px black
    text-align center

    .simple-ornament
      width 25%
      display block
      margin 20px auto

    .detailed-ornament
      width 50%
      display block
      margin 20px auto

    .flat-ornament
      width 40%
      display block
      margin 20px auto

    .field
      font-family canterbold
      letter-spacing 1px

      .smaller
        font-size 20px
        color rgba(white, 0.8)

      .fa
        margin-right 20px
        font-size 28px

    @media (max-width: 1000px)
      width 100%
    @media (max-width: 480px)
      font-size 18px
      .field .smaller
        font-size 14px

#footer
  background-image url("/img/bergen-foot.jpg")
  min-height 60%

  #footer-group
    font-family boltonlightregular
    font-size 26px
    line-height 44px
    width 50%
    max-width 600px
    margin 0 auto
    text-shadow 0px 1px 2px black
    text-align center

    .ct-logo
      max-width 400px
      width 100%
      display block
      margin 40px auto

    .email
      font-size 20px
      line-height 28px
      a
        color #eee
