@import "canter/stylesheet.css"
@import "fa/css/font-awesome.min.css"

body
html
  padding 0px
  margin 0px
  width 100%
  height 100%
  min-width 320px

.section
  width 100%
  height 100%
  background-size cover
  background-position center
  box-sizing border-box
  padding 5%
  min-height 800px
  color white
  font-family canterbold

#hero
  background-image url("/img/bergen-1.jpg")
  #hero-group
    height 90%
    max-width 90%
    margin 0 auto
    background-size contain
    background-position center
    background-repeat no-repeat
    position relative
  #down
    font-size 48px
    text-align center
    color white
    padding-top 2.5%
    height 5%

#instructors
  background-image url("/img/bergen-2.jpg")

  #instructors-group
    width 100%
    box-sizing border-box
    height 100%

    .with, .and
      display block
      margin 0 auto

    .with
      width 80px
      margin-bottom 25px

    .and
      margin-top 60px
      width 50px

    .instructor
      margin-top -25px
      text-align center

    .instructor-img
      width 140px
      border-radius 1000px
      vertical-align middle
      border 6px double white

    .instructor-name
      font-size 65px
      vertical-align middle
      display inline-block
      text-shadow 0px 1px 2px black

      &.smaller
        font-size 50px

      &.pad-before
        margin-left 40px

      &.pad-after
        margin-right 40px

    @media (max-width: 1100px)

      .instructor-img
        width 100px
      .instructor-name
        &.pad-before
          margin-right 20px
        &.pad-after
          margin-right 20px

    @media (max-width: 700px)

      .instructor-name
        font-size 50px

        &.smaller
          font-size 40px



#logistics
  background-image url("/img/bergen-3.jpg")

  #logistics-group
    font-family BoltonLight
    font-size 26px
    line-height 44px
    width 50%
    max-width 600px
    margin 0 auto
    text-shadow 0px 1px 2px black
    text-align center

    .simple-ornament
      width 25%
      display block
      margin 20px auto

    .detailed-ornament
      width 50%
      display block
      margin 20px auto

    .flat-ornament
      width 40%
      display block
      margin 20px auto

    .field
      font-family canterbold
      letter-spacing 1px

      .smaller
        font-size 20px
        color rgba(white, 0.8)

      .fa
        margin-right 20px
        font-size 28px

    @media (max-width: 1000px)
      width 100%
    @media (max-width: 480px)
      font-size 18px
      .field .smaller
        font-size 14px

#footer
  background-image url("/img/bergen-foot.jpg")

  #footer-group
    font-family BoltonLight
    font-size 26px
    line-height 44px
    width 50%
    max-width 600px
    margin 0 auto
    text-shadow 0px 1px 2px black
    text-align center

    .ct-logo
      width 400px
      display block
      margin 40px auto
