body,
html {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}
#hero {
  width: 100%;
  height: 100%;
  background-image: url("/img/bergen-1.jpg");
  background-size: cover;
  background-position: center;
}
#instructors {
  width: 100%;
  height: 100%;
  background-image: url("/img/bergen-2.jpg");
  background-size: cover;
  background-position: center;
}
#logistics {
  width: 100%;
  height: 100%;
  background-image: url("/img/bergen-3.jpg");
  background-size: cover;
  background-position: center;
}
#footer {
  width: 100%;
  height: 100%;
  background-image: url("/img/bergen-foot.jpg");
  background-size: cover;
  background-position: center;
}
